<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="header-css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </div>
</head>
<body>
<div th:fragment="header">
    <!-- this is header -->
    <nav>
    <div class="nav-wrapper">
        <div class="container">
                <a href="#" class="brand-logo" th:href="@{/}">  <i class="material-icons prefix">account_balance</i>  ATM</a>
        </div>
    </div>
    </nav>
</div>

</body>
</html>