<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>
<div class="container">
    <h3> List </h3>
    <table>
        <thead>
        <tr>
            <th>User ID</th>
            <th>User Name</th>
        </tr>
        <tr th:each="user: ${users}">
            <th th:text="${user.id}"></th>
            <th th:text="${user.username}"></th>
        </tr>
        </thead>
    </table>
</div>

<a th:href="@{/user}" value="Back">
    Back
</a>

<!-- /.container -->
<div th:replace="fragments/footer :: footer"/>

</body>
</html>