<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">

        <div class="row">
            <div class="col s12"><h5>Welcome: [[${#httpServletRequest.remoteUser}]]</h5></div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="col s6"><h5>Balance : </h5></div>
            <div class="col s6">
                <button class="waves-effect waves-light btn">Transfer</button>
            </div>
        </div>
        <br>
        <br>
        <br>
        <a th:href="@{/load}" value="Sign Up">
            List
        </a>
        <br>
        <br>
        <br>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>

    </div>

</div>

<br>
<br>
<br>
<!-- /.container -->
<div th:replace="fragments/footer :: footer"/>

</body>
</html>